<section id="main-content" class="main-content clearfix">
    <div class="container">
        <div class="columns twelve">
            <div class="top-card clearfix">
				{{#with data.posts}}
                    <article>
                        <div class="content-wrapper">
                            <a href="{{postUrl results.0.slug}}">
                                <img src="{{imageUrl results.0.image.url "550" "jpg"}}" alt="" width="946" height="500"/>

                                <div class="header-info">
                                    <h1>{{results.0.title}}</h1>
                                </div>
                            </a>
                        </div>
                    </article>
				{{/with}}
            </div>
        </div>

        <!-- main article-content     -->
        <div class="main-article-content clearfix">
            <div class="columns twelve">
				{{# each data.posts.results}}
					{{#unless @first}}
                        <article class="card card-split color-omg" style="border-color: {{{categories.0.color}}}">
                            <a href="{{postUrl slug}}">
                                <div class="split-image"
                                     style="background-image:url({{imageUrl image.url "250" "jpg"}});">
                                </div>

                                <div class="header-info">
                                    <h1>{{{title}}}</h1>
                                </div>
                                <div class="card-meta-data clearfix">
                                    <span class="visitas">{{{visits}}}</span>
                                    <time class="time-ago">{{{timeAgo}}}</time>
                                </div>
                            </a>

                        </article>
					{{/unless}}
				{{/each}}
                <div id="preloader" style="display: none;">
					<img alt="Loading..." src="/images/download.gif">
                    <div><em>Loading the next set of posts...</em></div>
                </div>
            </div>
        </div>
    </div>
    <!-- main article content     -->

</section>
