<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3833845702235676",
        enable_page_level_ads: true
    });
</script>
<section id="main-content-single-page" class="main-content clearfix">
    <div class="container">
        <div class="columns twelve">
            <div class="color-omg main-article-container clearfix">
                <!-- Main Article Content -->
                <article class="article-content">
                    <div class="content-wrapper clearfix">
                        <h1>{{data.post.title}}</h1>

                        <div class="clearfix sharebar">
                            <ul>
                                <li>
                                    <a href="#" data-title="{{data.post.title}}" data-imageurl="{{{data.post.image.url}}}" class="share-button facebook"></a>
                                </li>
                                <li>
                                    <a href="{{{data.post.whatsappLink}}}" class="share-button whatsapp"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="article-content-extended">{{{data.post.content.extended}}}</div>
                        <div class="clearfix sharebar">
                            <ul>
                                <li>
                                    <a href="#" data-title="{{data.post.title}}" data-imageurl="{{{data.post.image.url}}}" class="share-button facebook"></a>
                                </li>
                                <li>
                                    <a href="{{{data.post.whatsappLink}}}" class="share-button whatsapp"></a>
                                </li>
                            </ul>

                        </div>

                        <div class="comment-div">
                            <div id="fb-comment-box">
                                <div class="fb-comments" data-href="{{{data.currentUrl}}}" data-numposts="5" data-width="100%" data-colorsheme="light"></div>
							</div>
                        </div>

                    </div>
                </article>
                <!-- Main Article Content -->

                <!-- //Post Content Area -->
                <div class="article-lead">
                    <!-- Popular-cards -->
                    <div class="very-popular-cards">
						{{#each data.posts}}
                            <article class="card card-split color-divertido"
                                     style="border-color: {{{categories.0.color}}}">
                                <a href="{{postUrl slug}}">
                                    <div class="split-image"
                                         style="background-image:url({{imageUrl image.url "250" "jpg"}});">
                                    </div>
                                    <div class="header-info clearfix">
                                        <h1>{{title}}</h1>
                                    </div>
                                    <div class="card-meta-data clearfix">
							<span class="visitas">{{visits}} Visitas</span>
                                        <time class="time-ago">{{timeAgo}}</time>
                                    </div>
                                </a>

                            </article>
						{{/each}}
                    </div>
                    <!-- /Popular-cards -->

                    <div class="clearfix lead-links top-stories">
                        <a href="/" class="top-stories btn-logger">View Top Stories</a>
                    </div>


                </div>
                <!-- Post Lead Content  -->
            </div>
        </div>
    </div>
    <!-- main article content     -->

</section>
